/*
 * @Author: Yushuizeng 
 * @Date: 2018-12-29 16:56:22 
 * @Last Modified by: Yushuizeng
 * @Last Modified time: 2019-02-06 10:55:45
 */
@font-face {
  font-family: 'iconfont';  /* project id 599170 */
  src: url('//at.alicdn.com/t/font_599170_dw90kf0myma.eot');
  src: url('//at.alicdn.com/t/font_599170_dw90kf0myma.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_599170_dw90kf0myma.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_599170_dw90kf0myma.woff') format('woff'),
  url('//at.alicdn.com/t/font_599170_dw90kf0myma.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_599170_dw90kf0myma.svg#iconfont') format('svg');
}
.yu {
  display: inline-block;
  /* 以下的 font 与上面 @font-face 的 font-family 要一致*/
  font: normal normal normal 14px/1 'iconfont';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.yu-index:before {
  content: "\e696";
}
.yu-find:before {
  content: "\e695";
}
.yu-user:before {
  content: "\e697";
}
.yu-like:before {
  content: "\e61c";
}
.yu-liked:before {
  content: "\e61d";
}
.yu-browse:before {
  content: "\e62f";
}
.yu-share:before {
  content: "\e615";
}
.yu-discuss:before {
  content: "\e617";
}
.yu-add-jiahao:before {
  content: "\e618";
}
.yu-edit:before {
  content: "\e63f";
}
.yu-collect:before {
  content: "\e627";
}
.yu-collected:before {
  content: "\e623";
}
